body
{
	margin: 0;
	position: relative;
}

.fix
{
	background: url("images/f5.jpg") rgba(0,0,0,.7) no-repeat;
	background-size: cover;
	position: fixed;
	z-index: -12;
	width: 100%;
	height: 100%;
}

.back
{
	background-color: rgba(0,0,0,.7);
	background-size: cover;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -11;
}

header.logo
{
	text-align: center;
	background-color: white;
	border-bottom: solid 1px #f1f1f1;
}

header img
{
	width: 350px;
	background-color: transparent;
}

nav
{
	text-align: center;
	padding: 50px 0px;
	color: #b1b1b1;
	font-size: 200%;
	background-color: white;
}

#slideshow 
{      
    width: 100%;
    background-color: white;
    position: absolute;
}

#slideshow > div 
{ 
    position: absolute;
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
}

#slideshow > div > img
{
	width: 100%; 
	z-index: 2;
    height: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    position: absolute;
}

.fixing
{
	width: 100%;
}

.fixing > img
{
	width: 100%;
	height: auto;
}

.message
{
	padding: 50px 0;
	text-align: center;
	position: relative;
	top: -4px;
	z-index: 1;
	background-color: white;
}

.message div span div p
{
	text-align: left;
	font-family: "Courier New", Courier, monospace;
}

.message header
{
	
	font-size: 200%;
	font-family: cursive, arial;
	color: #a02c5a;
	margin: 0 0 50px 0;
}

.inline
{
	display: inline-block;
}

.person img
{
	float: left;
}

.needmargin
{
	padding-top: 20px;
	position: relative;
	left: 40px;
}

.excerpt
{
	display: inline;
}

.needrightmargin
{
	margin-right: 60px;
	width: 350px;
}

.rmar
{
	margin-right: 60px;
	margin-top: 30px;
}

.name
{
	font-weight: 600;
}

.countdown
{
	color: white;
	text-align: center;
	font-size: 200%;
	padding: 100px 0;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.countdown ul.up
{
	list-style-type: none;
	border-top: solid 1px white;
	display: inline-block;
	padding: 50px 50px 0;
	width: 70%;
	margin-bottom: 0;
}

.countdown ul.down
{
	margin-top: 0;
	list-style-type: none;
	border-bottom: solid 1px white;
	display: inline-block;
	padding: 0 50px;
	width: 70%;
}

.countdown ul.up li
{
	display: inline-block;
	background-color: white;
	font-size: 120%;
	color: #a02c5a;
	padding: 10px;
	width: 12%;
}

.countdown ul.down li
{
	display: inline-block;
	font-size: 40%;
	color: white;
	padding: 0 10px;
	width: 12%;
	position: relative;
	top: -10px;
}

.details
{
	font-family: cursive;
	background-color: white;
	text-align: center;
	padding: 50px 0;
}

.map
{
	padding-top: 50px;
	font-family: cursive;
	border-top: solid 1px #f1f1f1;
	text-align: center;
	background-color: white;
	width: 100%;
}

.div-head
{
	color: #a02c5a;
}

.rsvp
{
	font-family: cursive;
	color: white;
	font-size: 30px;
}

.rsvp form label
{
	float: left;
	width: 30%;
}

.rsvp input
{
	font-size: 105%;
	font-family: cursive;
	width: 35%;
}

.rsvp select
{
	font-size: 120%;
	width: 35%;
	text-align: center;
}

.subbut
{
	font-family: cursive;
	color: #a02c5a;
	background-color: white;
	border: none;
	border-radius: 5px;
}

.rsvp h1
{
	color: gray;

}

@media (max-width: 750px)
{
	.rsvp form label
	{
		float: none;
		width: 100%;
	}
	.rsvp form label:after
	{
		content: '\a';
		white-space: pre;
	}
	.rsvp input
	{
		width: 90%;
		margin: auto;
	}
}